PORT=8000
NODE_ENV=development
ACCESS_TOKEN_SECRET=change-me
REFRESH_TOKEN_SECRET=change-me

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ylham
DB_USER=postgres
DB_PASSWORD=postgres

EMAIL_USER=""
EMAIL_PASSWORD=""

ADMIN_EMAIL=""
ADMIN_PASSWORD=""

ADMIN_PANEL_COOKIE_NAME=""
ADMIN_PANEL_COOKIE_PASSWORD=""